[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "editor/vim"]
	path = editor/vim
	url = git@github.com:arntanguy/.vim.git
[submodule "term/powerline-shell"]
	path = term/powerline-shell
	url = git@github.com:milkbikis/powerline-shell.git
[submodule "gui/i3"]
	path = gui/i3
	url = git@github.com:arntanguy/i3config.git
[submodule "term/prezto"]
	path = term/zsh/prezto
	url = https://github.com/sorin-ionescu/prezto.git
[submodule "term/tmux/plugins/tpm"]
	path = term/tmux/plugins/tpm
	url = git@github.com:tmux-plugins/tpm.git
