[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "editor/vim"]
	path = editor/vim
	url = git@github.com:arntanguy/.vim.git
[submodule "gui/regolith/i3"]
	path = gui/regolith/i3
	url = git@github.com:arntanguy/i3config.git
[submodule "term/tmux"]
	path = term/tmux
	url = https://github.com/gpakosz/.tmux.git
[submodule "editor/nvim"]
	path = editor/nvim
	url = git@github.com:arntanguy/kickstart.nvim
